@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind tailwind;

.Home_header__3vlZW {
	background-image: url(../images/banner_mobile.jpg);
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	height: 85vh
}

.Home_scrollDownButton__2F7UY:after {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background-color: #000;
	border-radius: 100%;
	margin-left: 8px;
	-webkit-animation: Home_scroll__2nTEx 1.5s ease;
	animation: Home_scroll__2nTEx 1.5s ease;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

@-webkit-keyframes Home_scroll__2nTEx {
	0% {
		opacity: 0;
		transform: translateY(0)
	}
	to {
		opacity: 1;
		transform: translateY(25px)
	}
}

@keyframes Home_scroll__2nTEx {
	0% {
		opacity: 0;
		transform: translateY(0)
	}
	to {
		opacity: 1;
		transform: translateY(25px)
	}
}

.Home_section1__1zJmv {
	position: relative
}

.Home_section1__1zJmv:before {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	z-index: 1;
	background-image: url(../images/lion_paw_dark_1.png), url(../images/lion_paw_dark_1.png), url(../images/lion_paws.png);
	background-repeat: no-repeat;
	background-position: top -5% right 30%, bottom 2% right 1%, top 10% left;
	background-size: 7%, 6%, 15%
}

.Home_section2__8VRrB {
	position: relative
}

.Home_section2__8VRrB:before {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	background-image: url(../images/lion.png);
	background-repeat: no-repeat;
	background-position: top 70% right 2%
}

.Home_section3__3OhR8 {
	position: relative
}

.Home_section3__3OhR8:before {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .1;
	z-index: 1;
	background-image: url(../images/lion_paw_dark_1.png), url(../images/lion_paw_dark_1.png), url(../images/lion_paws.png);
	background-repeat: no-repeat;
	background-position: top -5% left 30%, bottom 2% left 1%, top 10% right;
	background-size: 7%, 6%, 15%
}

.Home_section4__3tiCo {
	position: relative
}

.Home_section4__3tiCo:before {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	z-index: 1;
	background-image: url(../images/lion_paws.png), url(../images/lion_paws.png), url(../images/lion_paws.png), url(../images/lion_paws.png);
	background-repeat: no-repeat;
	background-position: top 15% right, top 20% left, bottom 10% right, bottom 5% left;
	background-size: 15%
}

.Home_section5__3vq1Y {
	position: relative
}

.Home_section5__3vq1Y:before {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	z-index: 1;
	background-image: url(../images/lion_paws.png), url(../images/lion_paws.png);
	background-repeat: no-repeat;
	background-position: 100% 0, bottom 5% left;
	background-size: 6%
}

.Home_footer__1WdhD {
	position: relative
}

.Home_footer__1WdhD:before {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	z-index: 1;
	background-image: url(../images/lion_paws.png), url(../images/lion_paws.png);
	background-repeat: no-repeat;
	background-position: top left 10%, 100% 100%;
	background-size: 14%
}

.Home_buton__3VcvS {
	transition: all .4s
}

.Home_button__Xc9mA:hover {
	transform-origin: center center;
	transform: scale(1.05)
}

.Home_lionButton__1HRuZ:hover {
	background-color: rgba(0, 0, 0, .2)
}

@media screen and (min-width:768px) {
	.Home_header__3vlZW {
		background-image: url(../images/banner_desktop.jpeg);
		height: 100vh
	}
	.Home_section2__8VRrB:before {
		opacity: .1
	}
}